
// font families
$title-font: 'designova_hgr_bold', sans-serif;
$description-font: 'Raleway', sans-serif;
$code-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

// font sizes
$xxx-small: 8px;
$xx-small: 10px;
$x-small: 12px;
$small: 14px;

$medium: 16px;
$x-medium: 18px;
$xx-medium: 24px;
$xxx-medium: 28px;

$large: 32px;
$x-large: 36px;
$xx-large: 48px;
$xxx-large: 64px;

// font styles
$semi-bold: 300; // font-weight: 300
$bold: bold;
$italic: italic;

// decorations:
$underline: underline; // text-decoration: underline
